{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "tacticalptx-replace-me",
    "storage_bucket": "tacticalptx-replace-me.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:replace",
        "android_client_info": {
          "package_name": "com.tacticalptx.app"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE_ME"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
